/* prefixed by https://autoprefixer.github.io (PostCSS: v7.0.26, autoprefixer: v9.7.3) */

@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	color: white;
	background-color: black;
}

html,
body {
	overflow-x: hidden;
	overflow-y: hidden;
	height: 0;
}

#profileCard {
	width: 500px;
	height: 75vh;
	position: absolute;
	top: calc(80vh - calc(500px / 1.1));
	left: calc(50vw - 250px);
	background-color: ghostwhite;
	border-radius: 12px;
	border: 0.5px solid green;
	-webkit-box-shadow: 10px 10px 90px 20000px rgba(28, 167, 13, 1);
	box-shadow: 10px 10px 90px 20000px rgba(28, 167, 13, 1);
	-webkit-animation: float 6s ease-in-out infinite;
	animation: float 6s ease-in-out infinite;
	z-index: 5;
}

.img {
	background-color: transparent;
	color: black;
	text-align: center;
	position: relative;
	top: -125px;
	left: 125px;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}
.title {
	background-color: transparent;
	color: black;
	text-align: center;
	position: relative;
	top: -100px;
	margin-top: 12.5px;
	text-shadow: 2px 2px rgb(29, 167, 13);
}

.para {
	background-color: transparent;
	color: black;
	text-align: center;
	position: relative;
	top: -100px;
	margin-top: 25px;
	margin-left: 75px;
	margin-right: 75px;
}

#pageTitle {
	position: absolute;
	top: 10%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-shadow: 2px 2px rgb(29, 167, 13);
	font-size: 5ch;
	z-index: 5;
}

@media screen and (max-width: 480px) {
	#profileCard {
		height: 1000px;
	}

	#pageTitle {
		font-size: 2.5ch;
		top: 15%;
		width: 100vw;
		text-align: center;
	}

	.title {
		font-size: 3ch;
	}
}

@media screen and (max-height: 1000px) {
	#profileCard {
		top: 40vh;
	}
}

@-webkit-keyframes float {
	0% {
		-webkit-box-shadow: 0 5px 15px 0px rgba(29, 167, 13, 0.2);
		box-shadow: 0 5px 15px 0px rgba(29, 167, 13, 0.2);
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	50% {
		-webkit-box-shadow: 0 25px 15px 0px rgba(29, 167, 13, 0.2);
		box-shadow: 0 25px 15px 0px rgba(29, 167, 13, 0.2);
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-box-shadow: 0 5px 15px 0px rgba(29, 167, 13, 0.2);
		box-shadow: 0 5px 15px 0px rgba(29, 167, 13, 0.2);
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}

@keyframes float {
	0% {
		-webkit-box-shadow: 0 5px 15px 0px rgba(29, 167, 13, 0.2);
		box-shadow: 0 5px 15px 0px rgba(29, 167, 13, 0.2);
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}

	50% {
		-webkit-box-shadow: 0 25px 15px 0px rgba(29, 167, 13, 0.2);
		box-shadow: 0 25px 15px 0px rgba(29, 167, 13, 0.2);
		-webkit-transform: translateY(-10px);
		transform: translateY(-10px);
	}

	100% {
		-webkit-box-shadow: 0 5px 15px 0px rgba(29, 167, 13, 0.2);
		box-shadow: 0 5px 15px 0px rgba(29, 167, 13, 0.2);
		-webkit-transform: translateY(0px);
		transform: translateY(0px);
	}
}
