@import url("https://fonts.googleapis.com/css?family=Montserrat&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Montserrat", sans-serif;
	color: white;
}

body {
	background: rgb(6, 4, 32);
	background: -moz-radial-gradient(circle, rgba(6, 4, 32, 1) 50%, rgba(0, 0, 0, 1) 100%);
	background: -webkit-radial-gradient(circle, rgba(6, 4, 32, 1) 50%, rgba(0, 0, 0, 1) 100%);
	background: radial-gradient(circle, rgba(6, 4, 32, 1) 50%, rgba(0, 0, 0, 1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#060420",endColorstr="#000000",GradientType=1);
}

#grid {
	display: grid;
	width: 100vw;
	height: 100vh;
}

.text {
	width: 100%;
	text-align: center;
}
#title {
	align-self: end;
}
